* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;	
	list-style:none;
	text-decoration:none;
}
html ,body{
	font-family:arial;
	font-size:12px;
	min-height:100vh;
	margin:auto;
}
.container {
	min-width:1200px;
	background:#edeef0;	
}
iframe {
	width:100%;
	height:100%;
	overflowY:hidden;
    overflowX:hidden;
	overflow-x:hidden   !important;
    overflow-y:hidden   !important;
}

/* header and nav --------------------------------------------------------------------------- */
.header_tag {
	min-width:1200px;
	height:70px;
	color:rgb(21, 20, 20);
	background:white;
	border:1px solid rgb(209, 205, 205);
	box-shadow: 2px 2px 4px #ccc;	
}
.header_content {
	width:1200px;
	height:100%;
	margin:auto;
}
.header_left {
	float:left;
	height:100%;
	display:flex;
	align-items:center;
	padding-left:15px;
}
.toplogo {
	height:56px;	
}
.toplogo2 {
	height:12px;
	margin-left:0px;
	margin-top:5px;
}
.header_right {
	height:100%;
	display:flex;
	align-items:center;
	float:right;
	font-size:20px;
}
.header_right li {
	display:inline;
	padding:0px 20px;
}

/* horizontal ad on top --------------------------------------------------------------------------- */
.ad {
	display:flex;
	justify-content:center;
	padding-top: 20px;
}

/* main --------------------------------------------------------------------------- */
.main {
	width:1200px;
	margin:20px auto;
	background:white;
	border-radius:10px;
	padding:30px;
}
.main_head {
	display:flex;
	height:40px;	
}

/* league --------------------------------------------------------------------------- */
#country {
	width:48px;
}
.leaguediv {
	display:flex;
	align-items: center;
}
.leaguediv select {
	margin:5px 20px;
	padding:0px 10px;
	width:360px;
	height:38px;
	font-size:18px;
	background:#fafafa;
	border:0px;
	box-shadow: 2px 2px 4px #ccc;
	border-radius:5px;
}

/* Season --------------------------------------------------------------------------- */
.seasondiv {
	display:flex;
	align-items: center;
	justify-content:center;
}
.seasondiv select {
	display:flex;
	margin:5px 10px;
	width:160px;
	height:38px;
	font-size:20px;
	background:#fafafa;
	border:0px;
	box-shadow: 2px 2px 4px #ccc;
	border-radius:5px;
	text-align:center;
}

/* Season summary (for Stats and Results) ----------------------------------------------------------------------- */
.season-summary {
	margin:20px 0px;
}
.season-summary table {
	width:100%;
	box-shadow: 2px 2px 4px 0px #ccc;
}
.season-summary td {
	background:#fafafa;
	padding:10px;	
}
.season-summary label {
	font-size:16px;
	padding:10px;
	margin:15px;
}
.season-summary span {
	margin:auto;
	font-size:16px;
	padding:2px 10px;
	border-radius:10px;
}

/* Tables ------------------------------------------------------------------------------------------------------- */
table {
	width:100%;
	border-collapse:collapse;
	box-shadow: 2px 2px 4px #ccc;
}
th {
	border:1px solid #ddd;	
	border-left:1px solid #333;
	border-top:1px solid #333;	
	padding:10px 5px;
	font-size:14px;
	font-weight:20;
	text-align:center;
	background:#333;
	color:white;
	box-shadow: 2px 2px 4px #ccc;
}
td {
	border:1px solid #eee;
	padding:5px 5px;
	text-align:center;
	background:#fafafa;
	font-size:14px;
}
.subheader {
	background:#ffa500 !important;
	font-size:14px;
	padding:5px 2px;
}
.gamedate {
	width:90px;
}
.gametime {
	width:50px;
}
.gameteam {
	width:180px;
}
#msg {
	display:none;
	width:100%;
	margin:auto;
	text-align:center;
	padding:10px;
	color:red;
}

/* page bottom / links to other pages -------------------------------- */
.pages {
	width:1000px;
	height:60px;
	margin:auto;
	display:flex;
	justify-content:center;
	align-items:center;
}
.pages ul {
	display:flex;	
}
.pages a {
	margin:0px 60px;
	padding:10px 20px;
	background:#4c7;
	border-radius:10px;
	font-weight:bolder;
	font-size:16px;
	color:white;
}
.pages a:hover {
	background:#4a5;
}

/* Footer ------------------------------------------------- */
.iframe_footer {
	height:540px;
}

.footer_tag {
	width:100%;
	margin:20px 0px;
	background:white;
	font-size:14px;
}
.footer_content {
	width:1000px;
	margin:0 auto;
	padding:20px 0px;
	display:flex;
	justify-content:center;	
}
.footer_content h3 {
	width:120px;
	font-size:16px;
	margin:15px auto;
	padding:5px 0px;
	background:#ddd;
	border-radius:10px;
}
.footer_content li {
	padding:5px 0px;
}	
.footer_col {
	width:300px;
	margin:0 20px;
	text-align:center;
}
.footer_last {
	font-size:16px;
	margin:auto;
}
.fa {
	padding:0 2px;
}

/* Predictions -------------------------------------------------------------------------------------------------------- */
/* date and next upcoming games */
.pred_head {
	display:flex;
	align-items: center;	
	font-size:16px;
	height:20px;
	margin:10px 0px;
}
#today {
	width:110px;
	height:22px;
	padding:2px;
	font-weight:bold;
	margin:0 10px;
	background:#fafafa;
	box-shadow: 2px 2px 4px #ccc;
	border-radius:5px;
	text-align:center;
}
#next {
	width:60px;
	height:22px;
	padding:2px;
	font-size:16px;
	font-weight:bold;		
	margin:0 10px;
	background:#fafafa;
	box-shadow: 2px 2px 4px #ccc;
	border-radius:5px;
	text-align:center;
	border:0px;
}
.pred_head button {
	font-size:16px;
	margin:0 20px;
	padding:5px 15px;
	background:#4c7;
	color:white;
	border-radius:10px;
	text-align:center;
	border:0px;
}
.pred_head button:hover {
	background:#4a5;
	cursor:pointer;
}

/* predictions summary table */
.main_row:hover td {
	background:#63d;
	color:white;
	cursor:pointer;
}
#predmsg {
	padding:8px;
	color:red;
}

/* more details tables */
#details {
	display:none;
	padding:10px;
	background:#fdfdfd;
	border:1px solid #eee;
	box-shadow: 2px 2px 4px #ccc;
}
.mid {
	display:flex;
	justify-content:center;
}
.midall {
	display:flex;
	align-items:center;
	justify-content:center;
}
.game {
	margin:auto;
	height:40px;
	padding:40px;
}
.game h1 {
	font-size:16px;

}
.teamwrap {
	margin:auto;
	width:300px;
	height:42px;
	margin:0 30px;
	background:#eee;
	border:1px solid #ccc;
	border-radius:20px;
}
.game img {
	width:38px;
	height:42px;
}
.FT {
	margin:20px 60px;
	border-bottom:1px solid #ccc;
	padding:5px;
	font-size:14px;
}
.tables {
	margin:auto;
	padding:10px 20px;
	text-align:center;
}
.sub1 {
	background:rgba(66,133,244,0.5) !important;
	color:white;
}
.subX {
	background:rgba(244,180,0,0.5) !important;
}
.sub2 {
	background:rgba(219,68,55,0.5) !important;
	color:white;
}
.col {
	width:360px;
	height:420px;
	margin:0 10px;
}
.tbl table{
	margin:auto;
	margin-top:10px;
	border-collapse:collapse;
	background:white;
	box-shadow: 2px 2px 4px #ccc;
}
.tbl td {
	padding:5px;
	font-size:14px;
	border:1px solid #eee;
	background:#fafafa;
}
.tbl th {
	padding:5px 3px;
}
.outcome {
	width:280px;
	margin:auto;
	height:35%;
}
.outcomechart {
	margin:auto;
	width:280px;
	border:1px solid #eee;
	box-shadow: 2px 2px 4px #ccc;
}
#overundertbl {
	width:340px;
}
#overundertbl td {
	height:30px;
}
.space td {
	border-bottom:1px solid #fafafa;
}
#scorelinetbl {
	width:280px;
}
#scorelinetbl td {
	height:26px;
	padding:4px;
}

/* Stats -------------------------------------------------------------------------------------------------------------- */
/* teams  ------------------------- */
.teams {
	margin:10px;
}
.teams select {
	margin:2px 20px;
	width:280px;
	height:36px;
	font-size:16px;
	background:#fafafa;
	text-align:center;
	border:0px;
	box-shadow: 2px 2px 4px #ccc;
	border-radius:5px;
}
.logo {
	display:flex;
	align-items:center;
	margin:auto;
	margin-bottom:5px;
	width:80px;
	height:60px;
}
.logo img {
	margin:auto;
	display:none;
	width:48px;
	height:50px;
	border:none;
}
.mid {
	display:flex;
	align-items:center;
	margin:auto;
}

/* stats tables ---------------- */
.teamstats {
	background:#fdfdfd;
	border:1px solid #eee;
	box-shadow: 2px 2px 4px #ccc;
}
.stats th {
	padding:5px !important;
}
.teamstbl, .formtbl, .outcometbl {
	display:flex;
}
.formtbl td {
	height:30px;	
}
.formtd {
	width:60px;
}
.outcometbl td {
	height:30px;
}
.teamcol {
	text-align:center;
	width:460px;
	margin:0 auto;
}
.matchcol {
	width:100px;
}
.stats h3 {
	text-align:center;
}
.stats table {
	margin:10px 0px;
	width:100%;
	border-collapse:collapse;
	box-shadow: 2px 2px 4px 0px #ccc;
}
.stats th {
	border:1px solid #ddd;	
	border-left:1px solid #333;
	border-top:1px solid #333;	
	padding:10px 5px;
	font-size:14px;
	font-weight:20;
	text-align:center;
	background:#333;
	color:white;
}
.stats td {
	border:1px solid #eee;
	padding:5px 5px;
	text-align:center;
	font-size:14px;
	background:#fafafa;
}
.lowtd td {
	font-size:12px;
}
.restbl {
	display:flex;
}
.restbl td {
	font-size:12px;
}


/* Standings ---------------------------------------------------------------------------------------------------------- */
/* Legend --------------- */
.stand_legend {
	width:100%;	
	height:40px;
	margin:20px 0px;
	background:#fafafa;
	box-shadow: 2px 2px 4px #ccc;	
}
.stand_labels {
	width:100%;
	padding:12px 0px;
	text-align:center;
	display:flex;
	justify-content:center;	
}
.label {
	padding:0px 8px;
}
.stand_labels label {
	padding:2px 5px;
	background:#ddd;
	border-radius:10px;
	font-size:11px !important;
}
.stand_labels span {
	font-size:11px !important;
}
.stand_labels .first {
	padding-left:0px;	
}
.stand_labels .last {
	padding-right:0px;
}

/* Table --------------- */
.teamth {
	width:120px;
}
.team {
	width:180px;
	font-weight:bold;
	text-align:left !important;
	border-left:0px !important;
	font-size:14px;
}
.teamimg {
	border-right:0px !important;
	display:flex;
	align-items:center;
	justify-content:center;
}
.teamimg img {
	width:20px;
	height:22px;
}
.place {
	background:#7c2;
	color:white;
	font-weight:bold;
	padding:2px 6px;
	border-radius:50px;
}

/* Results -------------------------------------------------------------------------------------------------------------- */
.result_date {
		width:80px;
}
.result_time {
		width:50px;
}
.result_team {
		width:180px;
}
.result_score {
		width:100px;
}


